* {
  background-color: rgb(216, 216, 197);
}

.title {
  text-align: center;
  font-size: 44px;
  padding-bottom: 20px;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-bottom: 32px;
}

.button {
  font-size: 18px;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  outline: none;
}

#rock {
  background-color: rgb(131, 211, 204);
}

#scissors {
  background-color: yellow;
}

#paper {
  background-color: rgb(214, 93, 93);
}

.battleText {
  text-align: center;
  font-size: 24px;
  white-space: pre-line;
  border: 1px dashed black;
  padding-top: 10px;
  padding-bottom: 6px;
  background-color: rgb(231, 200, 229);
}



.showHand {
    background-color: rgb(231, 200, 229);
}

.vs {
  margin: 0;
}

.matchResult {
  text-align: center;
  font-size: 28px;
  padding-top: 16px;
  padding-bottom: 16px;
  border: 1px dashed black;
  background-color: rgb(207, 218, 214);
}

.result {
  text-align: center;
  font-size: 24px;
  padding-top: 12px;
  padding-bottom: 6px;
  border: 1px dashed black;
  background-color: rgb(172, 171, 171);
}

.inResult {
    margin: 10px;
    background-color: rgb(172, 171, 171);
}

.resetButtonCase {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.resetButton {
  width: 100px;
  height: 26px;
  font-size: 14px;
  color: aliceblue;
  outline: none;
  background-color: rgb(18, 21, 24)
}
